/* EDITOR CSS */

.quill-wrap {
    display: flex;
    flex: 8;
    flex-direction: column;
    height: 100vh;
}

.quill-wrap .ql-active {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 1em 0 1em;
}

.quill-wrap button,
.quill-wrap .ql-picker {
    margin-right: 2px
}

.info {
    text-align: center;
    margin-top: 20px;
}

/* Toolbaren för editorn och självast editor CSS*/



#toolbar {
    flex: 0.5;
}

#toolbar i {
    cursor: pointer;
    color: black;
}

#editor {
    flex: 9;
    overflow-x: hidden;
    background: rgb(230, 229, 229);
}

.ql-editor::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(219, 219, 219, 0.3);
	background-color: #F5F5F5;
}

.ql-editor::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.ql-editor::-webkit-scrollbar-thumb
{
	background-color: #969696;
}




#mobileDiv img {
    width: 23%;
} 

#mobileDiv {
    background-color: rgba(239, 197, 142, 0.18);
    text-align: center;
    display: none;
    border-bottom: 0.2px solid black;
}

.navShow {
    display: block !important;
}
.font1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
}

.font2 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
}

.font3 {
    font-family: 'Sacramento', cursive;
    font-size: 2em;
    line-height: 2em;
    color: rgb(0, 102, 204);
}

.fontNormal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.ql-tooltip.ql-hidden {
    visibility: hidden;
}

.ql-editor {
    margin: 1% 20% 0 20% !important;
    border: 1px double rgba(124, 124, 124, 0.5);
    padding: 25px !important;
    height: 100vh;
    background: white;
    
  }