.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(70, 80, 100);
  padding-top: 50px;
  color: goldenrod;
  font-size: 1.5rem;
  letter-spacing: 1px
}

.modal-content {
  border-radius: 20px;
  border-color: white;
  border: 2px solid;
  color: black;

  background-color: #f9f9f9;
  background-size: cover;
  background-position: center;
  margin: 1% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  width: 90%;
  /* Could be more or less, depending on screen size */
}

.information {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3%;
  margin: 0 0 0 1%;
  color: black;
  min-width: 100px;
  min-height: 50px;
}


/* Add padding to container elements */
.container {
  padding: 5% 5%;
  border-radius: 20px;
  background-image: url(/img/bginfo.png);
  background-size: cover;
  background-position: center;
}

/*style p */
.firstInfo {
  font-family: 'Questrial', sans-serif;
  font-size: 0.6em;
  font-weight: 600;
}

/*Style h1*/
.firstH {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* x for closing modal */
.xMark {
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.close {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/*test slideshow*/

#slides {
  position: relative;
  height: 100%;
  padding-bottom: 50%;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80%;
  margin: 0 10% 0 10%;
  height: 80%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slide:nth-of-type(1) {
  background-image: url("/img/one.PNG");
  background-size: 100%;
  background-repeat: no-repeat;
  ;
}

.slide:nth-of-type(2) {
  background-image: url("/img/two.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(3) {
  background-image: url("/img/three.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(4) {
  background-image: url("/img/four.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(5) {
  background-image: url("/img/five.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.slide:nth-of-type(6) {
  background-image: url("/img/six.PNG");
  background-size: 100%;
  background-repeat: no-repeat;
}