.notes {
  background-color: rgba(239, 197, 142, 0.18);
  flex: 0;
  flex-direction: column;
  overflow-y: scroll;
  display: flex;
  width: 100%;
  min-height: 100%;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: flex .5s ease;
  transition: flex .5s ease;
  position: relative;
}

.moved {
  flex: 1.5;
  -webkit-transition: flex .5s ease;
  transition: flex .5s ease;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}

.notes h3 {
  margin-bottom: 20%;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.notes div {
  margin: 0 2% 2% 2%;
  width: 75%;
  min-height: fit-content;
  background: rgba(239, 197, 142, 0.18);
  border: 2px solid rgb(253, 249, 243);
  text-align: center;
  overflow-x: scroll;
  padding: 8px;
  text-transform: capitalize;
}

.notes div:hover {
  font-weight: 700;
  background: rgb(253, 249, 243);
}


.notes img {
  cursor: pointer;
}


.notes p:nth-child(1) {
  color: black;
  font-weight: 700;
  font-size: 10px;
}

.notes p:nth-child(2) {
  color: black;
  font-weight: 300;
  font-size: 22px;
  text-decoration: none;

}

.notes p:nth-child(2):active {
  color: white;
}

/*SCROLLBAR*/

#notes::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

#notes::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

#notes::-webkit-scrollbar-thumb {
  background-color: #c5c5b0;
  border-radius: 3px;
}

#notes div::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

#notes div::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}


#notes div::-webkit-scrollbar-thumb {
  background-color: rgb(122, 153, 217);
  border-radius: 3px;
}